.App {
  display: grid;
   
  grid-template-columns: auto auto auto;
  background-color: #e2e6eb;
  padding: 10px;
}
.item {
  background-color: rgba(209, 213, 224, 0.8);
  border: 1px solid rgba(29, 28, 28, 0.8);
   
  font-size: 30px;
  text-align: center;
}